.login-form {
  max-width: 35rem;
  margin: auto;

  &__button {
    width: 100%;
  }

  &__float-right {
    float: right;
  }

  &__float-left {
    float: left;
  }

  .captcha {
    & > div > div {
      margin: auto;
    }
    margin-bottom: 1rem;
  }
}
